.about {
    position: relative;
    font-weight: 500;
}
.about-parent {
    position: absolute;
    top: 35px;
    left: 826px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 28px;
}
.logof-1-icon {
    position: absolute;
    top: 10px;
    left: 110px;
    width: 163px;
    height: 81px;
    object-fit: cover;
}
.frame-child {
    position: absolute;
    top: 35px;
    left: calc(50% - 29px);
    filter: blur(10px);
    border-radius: 50%;
    background-color: #7f93ff;
    width: 58px;
    height: 12px;
}
.reach-out {
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 59px);
    font-weight: 500;
}
.ellipse-parent {
    position: absolute;
    top: 31px;
    left: 1183px;
    box-shadow: 0px 0px 12.2px rgba(255, 255, 255, 0.25) inset, 0px 0px 9.1px 4px rgba(44, 78, 255, 0.27);
    border-radius: 22px;
    background: radial-gradient(50% 50% at 50% 50%, #3555ff, #3147bc);
    border: 1px solid #3352f9;
    box-sizing: border-box;
    width: 152px;
    height: 38px;
    overflow: hidden;
    font-size: 24px;
}
.nav {
    width: 1440px;
    position: relative;
    height: 100px;
    overflow: hidden;
    flex-shrink: 0;
    text-align: left;
    font-size: 25px;
}
.your-premier-source {
    margin: 0;
}
.your-premier-source-container {
    position: absolute;
    top: calc(50% - 256.5px);
    left: calc(50% - 511px);
    letter-spacing: 0.02em;
    line-height: 110%;
    display: inline-block;
    width: 1023px;
}
.frame-item {
    position: absolute;
    top: 143px;
    left: 646px;
    width: 176px;
    height: 14px;
}
.our-commitment-to {
    position: absolute;
    top: calc(50% - 91.5px);
    left: calc(50% - 346px);
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 110%;
    color: #d6d6d6;
    display: inline-block;
    width: 691px;
}
.frigoui-icon {
    position: absolute;
    top: 0px;
    left: 387.35px;
    width: 156.2px;
    height: 338.3px;
    object-fit: cover;
}
.exideui-icon {
    position: absolute;
    top: 0px;
    left: 582.41px;
    width: 154.4px;
    height: 334.7px;
    object-fit: cover;
}
.voltasui-icon {
    position: absolute;
    top: 0px;
    left: 775.62px;
    width: 154.4px;
    height: 334.7px;
    object-fit: cover;
}
.westernui-icon {
    position: absolute;
    top: 0px;
    left: 194.14px;
    width: 154.4px;
    height: 334.7px;
    object-fit: cover;
}
.symphonyui-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 155.3px;
    height: 334.7px;
    object-fit: cover;
}
.frigoui-parent {
    position: absolute;
    top: 332.65px;
    left: 255px;
    width: 930px;
    height: 338.3px;
}
.frame-inner {
    position: absolute;
    top: 530px;
    left: 255px;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0), #212125);
    width: 930px;
    height: 90px;
}
.your-premier-source-for-top-qu-parent {
    width: 1440px;
    position: relative;
    height: 619px;
    overflow: hidden;
    flex-shrink: 0;
}
.probiz-is-trusted {
    position: absolute;
    top: calc(50% - 149px);
    left: calc(50% - 218px);
    letter-spacing: 0.02em;
    line-height: 110%;
    text-transform: capitalize;
}
.rectangle-icon {
    width: 154px;
    position: relative;
    border-radius: 10px;
    height: 56px;
    object-fit: cover;
}
.image-13-icon {
    width: 133px;
    position: relative;
    height: 44px;
    object-fit: cover;
}
.image-14-icon {
    width: 125px;
    position: relative;
    height: 51px;
    object-fit: cover;
}
.frame-child1 {
    width: 137px;
    position: relative;
    border-radius: 10px;
    height: 45px;
    object-fit: cover;
}
.frame-child2 {
    width: 77px;
    position: relative;
    border-radius: 10px;
    height: 76px;
    object-fit: cover;
}
.frame-child3 {
    width: 109px;
    position: relative;
    border-radius: 10px;
    height: 109px;
    object-fit: cover;
}
.rectangle-parent {
    position: absolute;
    top: 133px;
    left: 216px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 48px;
}
.frame-child4 {
    width: 141px;
    position: relative;
    border-radius: 10px;
    height: 76px;
    object-fit: cover;
}
.frame-child5 {
    width: 139px;
    position: relative;
    border-radius: 10px;
    height: 47px;
    object-fit: cover;
}
.frame-child6 {
    width: 125px;
    position: relative;
    border-radius: 10px;
    height: 42px;
    object-fit: cover;
}
.frame-child7 {
    width: 113px;
    position: relative;
    border-radius: 10px;
    height: 48.2px;
    object-fit: cover;
}
.frame-child8 {
    width: 154px;
    position: relative;
    border-radius: 10px;
    height: 154px;
    object-fit: cover;
}
.rectangle-group {
    position: absolute;
    top: 213px;
    left: 310px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 37px;
}
.probiz-is-trusted-by-parent {
    width: 1440px;
    position: relative;
    height: 422px;
    overflow: hidden;
    flex-shrink: 0;
}
.why-probiz {
    position: absolute;
    top: calc(50% - 393.5px);
    left: calc(50% - 123px);
    font-size: 44px;
    letter-spacing: 0.02em;
    line-height: 110%;
    color: #fff;
}
.choose-probiz-solutions {
    position: absolute;
    top: 89px;
    left: calc(50% - 409px);
    font-size: 20.74px;
    letter-spacing: 0.02em;
    line-height: 110%;
    text-transform: lowercase;
    color: #d6d6d6;
    display: inline-block;
    width: 819px;
}
.vector-icon {
    position: absolute;
    filter: blur(25px);
    top: 458.25px;
    left: 270.54px;
    width: 898.7px;
    height: 124.6px;
    object-fit: contain;
}
.div {
    position: absolute;
    top: calc(50% - 67.5px);
    left: calc(50% - 278.5px);
    letter-spacing: 0.02em;
    line-height: 110%;
    text-transform: lowercase;
    font-weight: 500;
    font-family: 'Futura PT';
}
.unmatched-expertise {
    position: absolute;
    top: 40px;
    left: 126px;
    font-size: 32px;
    letter-spacing: 0.02em;
    line-height: 110%;
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
}
.our-team-of {
    position: absolute;
    top: 95px;
    left: 129px;
    font-size: 24px;
    letter-spacing: 0.02em;
    line-height: 110%;
    text-transform: lowercase;
    font-weight: 300;
    color: #d6d6d6;
    text-align: justify;
    display: inline-block;
    width: 381px;
}
.parent {
    position: absolute;
    top: 224px;
    left: 112px;
    backdrop-filter: blur(20px);
    border-radius: 16px;
    background-color: rgba(42, 44, 51, 0.6);
    border: 1px solid rgba(65, 65, 65, 0.3);
    box-sizing: border-box;
    width: 593px;
    height: 265px;
    overflow: hidden;
}
.comprehensive-support {
    position: absolute;
    top: 40px;
    left: 129px;
    font-size: 32px;
    letter-spacing: 0.02em;
    line-height: 110%;
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
}
.group {
    position: absolute;
    top: 521px;
    left: 112px;
    backdrop-filter: blur(20px);
    border-radius: 16px;
    background-color: rgba(42, 44, 51, 0.6);
    border: 1px solid rgba(53, 85, 255, 0.25);
    box-sizing: border-box;
    width: 593px;
    height: 265px;
    overflow: hidden;
}
.high-quality-products {
    position: absolute;
    top: 40px;
    left: 119px;
    font-size: 32px;
    letter-spacing: 0.02em;
    line-height: 110%;
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
}
.container {
    position: absolute;
    top: 224px;
    left: 737px;
    backdrop-filter: blur(20px);
    border-radius: 16px;
    background-color: rgba(42, 44, 51, 0.6);
    border: 1px solid rgba(65, 65, 65, 0.3);
    box-sizing: border-box;
    width: 593px;
    height: 265px;
    overflow: hidden;
}
.frame-div {
    position: absolute;
    top: 521px;
    left: 737px;
    backdrop-filter: blur(20px);
    border-radius: 16px;
    background-color: rgba(42, 44, 51, 0.6);
    border: 1px solid rgba(53, 85, 255, 0.25);
    box-sizing: border-box;
    width: 593px;
    height: 265px;
    overflow: hidden;
}
.why-probiz-parent {
    width: 1440px;
    position: relative;
    height: 835px;
    overflow: hidden;
    flex-shrink: 0;
    font-size: 122.74px;
    color: #212125;
}
.icsharp-more-time-icon {
    position: absolute;
    top: 468px;
    left: 215px;
    width: 110px;
    height: 110px;
    overflow: hidden;
}
.mingcuteservice-fill-icon {
    position: absolute;
    top: 747px;
    left: 216px;
    width: 104px;
    height: 104px;
    overflow: hidden;
}
.mdiaccount-service-icon {
    position: absolute;
    top: 610px;
    left: 1132px;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.clarityform-line-icon {
    position: absolute;
    top: 315px;
    left: 1125px;
    width: 122px;
    height: 122px;
    overflow: hidden;
}
.what-happens-when {
    position: absolute;
    top: 0px;
    left: 397px;
    font-size: 44px;
    text-transform: capitalize;
    font-weight: 500;
    display: inline-block;
    width: 646px;
}
.line-div {
    position: absolute;
    top: 172.5px;
    left: calc(50% - 0.5px);
    border-right: 1px solid #fff;
    box-sizing: border-box;
    width: 1px;
    height: 712px;
}
.consulting-icon-1 {
    position: absolute;
    top: 158px;
    left: 215px;
    width: 116.4px;
    height: 122.9px;
    overflow: hidden;
}
.initial-consultation {
    position: absolute;
    top: 173px;
    left: 352px;
    text-transform: capitalize;
    font-weight: 500;
}
.service-scheduling {
    position: absolute;
    top: 461px;
    left: 350px;
    text-transform: capitalize;
    font-weight: 500;
}
.post-service-follow-up {
    position: absolute;
    top: 740px;
    left: 352px;
    text-transform: capitalize;
    font-weight: 500;
}
.assessment-and-quotation {
    position: absolute;
    top: 310px;
    left: 744px;
    text-transform: capitalize;
    font-weight: 500;
    text-align: right;
}
.service-execution {
    position: absolute;
    top: 610px;
    left: 873px;
    text-transform: capitalize;
    font-weight: 500;
    text-align: right;
}
.our-experts-will {
    position: absolute;
    top: 219px;
    left: 352px;
    font-size: 16px;
    text-transform: lowercase;
    font-weight: 500;
    color: #d6d6d6;
    text-align: left;
    display: inline-block;
    width: 266px;
}
.well-schedule-the {
    position: absolute;
    top: 507px;
    left: 352px;
    font-size: 16px;
    text-transform: lowercase;
    font-weight: 500;
    color: #d6d6d6;
    text-align: left;
    display: inline-block;
    width: 266px;
}
.after-the-service {
    position: absolute;
    top: 786px;
    left: 352px;
    font-size: 16px;
    text-transform: lowercase;
    font-weight: 500;
    color: #d6d6d6;
    text-align: left;
    display: inline-block;
    width: 266px;
}
.a-detailed-assessment {
    position: absolute;
    top: 352px;
    left: 805px;
    font-size: 16px;
    text-transform: lowercase;
    font-weight: 500;
    color: #d6d6d6;
    text-align: right;
    display: inline-block;
    width: 297px;
}
.our-skilled-technicians {
    position: absolute;
    top: 652px;
    left: 805px;
    font-size: 16px;
    text-transform: lowercase;
    font-weight: 500;
    color: #d6d6d6;
    text-align: right;
    display: inline-block;
    width: 297px;
}
.union-icon {
    width: 100%;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 26px;
}
.icsharp-more-time-parent {
    width: 1440px;
    position: relative;
    height: 924px;
    overflow: hidden;
    flex-shrink: 0;
    font-size: 28px;
}
.ellipse-div {
    position: absolute;
    top: 342px;
    left: 827px;
    filter: blur(100px);
    border-radius: 50%;
    background: linear-gradient(180deg, #fffefe, #3555ff);
    width: 341px;
    height: 47px;
    opacity: 0.3;
}
.keep-your-cool {
    position: absolute;
    top: 69px;
    left: 41px;
    font-size: 46.67px;
    line-height: 110%;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
}
.the-ultimate-commercial {
    position: absolute;
    top: 130px;
    left: 44px;
    line-height: 110%;
    text-transform: capitalize;
}
.fv-1000sz {
    position: absolute;
    top: 254px;
    left: 41px;
    font-size: 31.11px;
    line-height: 110%;
    text-transform: capitalize;
    font-weight: 500;
    color: #d0d0d0;
}
.dimensions-1024 {
    position: absolute;
    top: 296px;
    left: 41px;
    line-height: 110%;
    text-transform: capitalize;
}
.capacity-937 {
    position: absolute;
    top: 323px;
    left: 41px;
    line-height: 110%;
}
.learn-more {
    position: relative;
    line-height: 110%;
}
.arrow-outward-icon {
    width: 26px;
    position: relative;
    height: 26px;
}
.learn-more-parent {
    position: absolute;
    top: 367px;
    left: 41px;
    border-radius: 8px;
    border: 1px solid rgba(177, 177, 177, 0.93);
    box-sizing: border-box;
    width: 168px;
    height: 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 20px;
    color: #fff;
}
.ellipse-group {
    position: absolute;
    top: 127px;
    left: 112px;
    box-shadow: 2px 2px 19.9px rgba(189, 199, 255, 0.23) inset;
    border-radius: 16px;
    background-color: rgba(64, 61, 54, 0.3);
    width: 1218px;
    height: 434px;
    overflow: hidden;
}
.whatsapp-image-2024-06-23-at-2 {
    position: absolute;
    top: -18px;
    left: 840px;
    width: 499px;
    height: 573px;
    object-fit: cover;
}
.frame-parent {
    width: 1440px;
    position: relative;
    height: 591px;
    overflow: hidden;
    flex-shrink: 0;
    text-align: left;
    font-size: 20.74px;
    color: #d6d6d6;
}
.heres-what-others {
    position: absolute;
    top: 42px;
    left: calc(50% - 362px);
    font-size: 44px;
    text-transform: capitalize;
    font-weight: 500;
    display: inline-block;
    width: 724px;
}
.icon {
    width: 47.5px;
    position: relative;
    height: 39.3px;
}
.the-team-at {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.03em;
    font-weight: 300;
}
.frame-child9 {
    width: 245px;
    position: relative;
    border-top: 1px solid #d6d6d6;
    box-sizing: border-box;
    height: 1px;
}
.unsplash3tll-97hnjo-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 162px;
    width: 51px;
    height: 52px;
    object-fit: cover;
}
.gagandeep {
    position: absolute;
    top: 3.6px;
    left: 74.75px;
    letter-spacing: 0.03em;
    font-weight: 500;
}
.unsplash3tll-97hnjo-parent {
    width: 206.8px;
    position: relative;
    height: 52px;
    font-size: 25px;
    color: #d6d6d6;
    font-family: 'Hind Madurai';
}
.parent1 {
    position: absolute;
    top: 182px;
    left: 539px;
    box-shadow: 0px 0px 13.7px 5px rgba(1, 27, 168, 0.12);
    border-radius: 21px;
    background-color: rgba(64, 61, 54, 0.1);
    width: 361px;
    height: 419px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 34px;
    box-sizing: border-box;
    gap: 39px;
    font-size: 20px;
}
.probiz-solutions-transformed {
    width: 226px;
    position: relative;
    letter-spacing: 0.03em;
    font-weight: 300;
    display: inline-block;
}
.frame-child10 {
    align-self: stretch;
    position: relative;
    border-top: 1px solid #d6d6d6;
    box-sizing: border-box;
    height: 1px;
}
.unsplash3tll-97hnjo-icon1 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 150.5px;
    width: 42px;
    height: 52px;
    object-fit: cover;
}
.amandeep-singh {
    position: absolute;
    top: 9px;
    left: 50px;
    letter-spacing: 0.03em;
    font-weight: 500;
}
.unsplash3tll-97hnjo-group {
    width: 215px;
    position: relative;
    height: 52px;
    font-size: 21px;
    color: #d6d6d6;
    font-family: 'Hind Madurai';
}
.parent2 {
    position: absolute;
    top: 202px;
    left: 972px;
    box-shadow: 0px 0px 13px 5px rgba(1, 27, 168, 0.1);
    border-radius: 21px;
    background-color: rgba(64, 61, 54, 0.1);
    width: 330px;
    height: 387px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 15px 0px;
    box-sizing: border-box;
    gap: 35px;
}
.harpal-singh {
    position: absolute;
    top: 9px;
    left: 71px;
    letter-spacing: 0.03em;
    font-weight: 500;
}
.unsplash3tll-97hnjo-container {
    width: 194px;
    position: relative;
    height: 52px;
    font-size: 21px;
    color: #d6d6d6;
    font-family: 'Hind Madurai';
}
.parent3 {
    position: absolute;
    top: 202px;
    left: 137px;
    box-shadow: 0px 0px 13px 5px rgba(1, 27, 168, 0.1);
    border-radius: 21px;
    background-color: rgba(64, 61, 54, 0.1);
    width: 330px;
    height: 387px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 15px 0px;
    box-sizing: border-box;
    gap: 35px;
}
.heres-what-others-have-to-sa-parent {
    width: 1440px;
    position: relative;
    height: 658px;
    overflow: hidden;
    flex-shrink: 0;
    font-size: 17px;
}
.frame-child12 {
    position: absolute;
    top: 131.62px;
    left: 120px;
    width: 233px;
    height: 13.4px;
}
.reach-out1 {
    position: absolute;
    top: 84px;
    left: 112px;
    font-size: 50px;
    font-weight: 500;
}
.arrow-outward-icon1 {
    position: absolute;
    top: 89px;
    left: 362px;
    width: 61px;
    height: 61px;
}
.have-questions-or {
    position: absolute;
    top: 156px;
    left: 112px;
    color: #d6d6d6;
    white-space: pre-wrap;
    display: inline-block;
    width: 648px;
}
.call-icon {
    position: absolute;
    top: 358px;
    left: 112px;
    width: 24px;
    height: 24px;
}
.near-me-icon {
    position: absolute;
    top: 358px;
    left: 436px;
    width: 24px;
    height: 24px;
}
.attach-email-icon {
    position: absolute;
    top: 441px;
    left: 112px;
    width: 24px;
    height: 24px;
}
.div4 {
    position: absolute;
    top: 358px;
    left: 158px;
    line-height: 26px;
}
.ellipse-icon {
    position: absolute;
    top: 444px;
    left: 1237px;
    width: 344px;
    height: 348.6px;
    object-fit: contain;
}
.probizjkgmailcom {
    position: absolute;
    top: 438px;
    left: 147px;
}
.plot-no-7-container {
    position: absolute;
    top: 358px;
    left: 482px;
}
.frame-child13 {
    position: absolute;
    top: 84px;
    left: 876px;
    width: 460px;
    height: 399px;
    overflow: hidden;
}
.vector-parent {
    width: 1440px;
    position: relative;
    height: 609px;
    overflow: hidden;
    flex-shrink: 0;
    text-align: left;
    font-size: 19.22px;
}
.desktop-1 {
    position: relative;
    background-color: #212125;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    font-size: 44px;
    color: #fff;
    font-family: Mulish;
}

